body {
    font-family: Montserrat;
     text-align: center;
     }

   #intro
   {
            min-height:100vh;    
           padding-top: 20px;
           padding-bottom: 20px;        
           height:100%;
           /* width:100%; */
           width:auto;
            background:url('../images/code1.jpg') no-repeat center center ; 
           background-size:cover;
           color:white;
   }

   #about
   {
    min-height:100vh;    
    padding-top: 20px;
    padding-bottom: 20px;        
    height:100%;
    /* width:100%; */
    width:auto;
     background:url('../images/stars.png') no-repeat center center ; 
    background-size:cover;
    color:white;
   }
   
   
  
   #about a
   {
    color:white;
    /* position: absolute;
    bottom: 20px;
    left: 50%; */
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
  
 }
   #skills a
   {
      color:white;
      /* position: absolute;
      bottom: 20px;
      left: 50%; */
      z-index: 2;
      display: inline-block;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      text-decoration: none;
    
   }
   #about a span{
      position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
   }
   #skills a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  
  
.card-img-top{
  width:auto;
  height:200px;
}
.card-text,.card-title{
  font-weight:bold;
  font-family : 'Ubuntu';
}
   #skills
   {
    min-height:100vh;    
    padding-top: 20px;
    padding-bottom: 20px;        
    height:auto;
    /* width:100%; */
    width:auto;
    background:url('../images/stars.png') no-repeat center center ; 
    background-size:cover;
    color:white;
   }
   #projects{
    min-height:100vh;    
    padding-top: 20px;
    padding-bottom: 20px;        
    height:auto;
    /* width:100%; */
    width:auto;
    background:url('../images/stars.png') no-repeat center center ; 
    background-size:cover;
    color:white;
   }
   
   .logo
   {
       color: white;
           font-family : 'Ubuntu';
       font-size : calc(1.0em + 1vmin);
   }

   #intro navbar{
       background-color: transparent;
   }

   .nav-item        
   {
       float: right;
    padding-left:40px;
    font-weight: bold;
   }
   .fa {
    padding: 20px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa_custom {  
    background:white;
    color:black;
    } 
   li a
   {
    font-family: 'Ubuntu';
     font-size:22px;
   }

   .he1
   {
       color:white;
       font-family: 'Playfair Display', serif;
        font-weight:400;
        animation-duration: 0.5s;
   }

   .he2
   {
     color:white;
     font-family: 'Playfair Display', serif;
     font-weight:400;
     animation-duration: 1s;
    }
   .he3
   {
     color:white;
     font-family: 'Playfair Display', serif;
     font-weight:400;
     animation-duration: 1.5s;
    }
    .he4
    {
     color:white;
     font-family: 'Playfair Display', serif;
     font-weight:400;
     animation-duration: 2.0s;
    }

    .he5
    {
     color:white;
     font-family: 'Playfair Display', serif;
     font-weight:400;
     animation-duration: 2.5s;
    }
    .head h3
    {
       font-weight:500;
       font-family: 'Ubuntu';
    }

   body, html
  {
    margin: 0;
    height: 100%;
    text-align: center;
    color: #999;
  }

  #about
  {
      height:auto;
      width:100%;
  }
  
  .ahe
  {
    text-transform: uppercase;
    letter-spacing: 1.0pt;
    font-size: 30pt;
    margin-bottom: 15px;
  }
  
  .ap
   {
    margin: 0;
    font-size: 20pt;
    width: 80%;
    display: none;
    line-height:3.0;
   }
  
  #table 
  {
      display: table;
      width: 100%;
      height: 100%;
  }
  
  #centeralign 
  {
      padding-top:200px;
      display: table-cell;
      vertical-align: middle;
  }
  
  footer{
    font-size:20px;
  }
  .container
  {
    font-size:calc(0.2em + 1vmin);
    margin-top:100px;
    font-weight:bold;
  }
  .content-conatiner{
    line-height:4.0;
    margin: 25px 25px 60px 90px;
  }
  
  @media screen and (max-width: 480px)
 {
    .ap{
    font-size:15pt;
    line-height:2.0;
    font-weight:none;
    }
  }

  @media (min-width :320px)
  {
       h1{ font-size: calc(2.0em + 1vmin)}
       li{background-color:black;}
  } 
  
  @media (min-width: 576px) 
  {
    h1 {  font-size: calc(3.0em + 1vmin); }
  }

  @media (min-width: 768px) 
  {
    h1 {  font-size: calc(4.5em + 1vmin); }
    
  }

  @media (min-width: 992px) 
  {
    h1 {  font-size: calc(4.0em + 1vmin); }
  }  
  @media (min-width: 1200px)
   {
    h1 {  font-size: calc(4.5em + 1vmin); }
   }
   